@charset "UTF-8";
.center{
		border-width:1px;
		border-color: gray;
		border-style: solid;
		border-radius:8px;
		width:450px;
		margin:0 auto;
		padding: 48px 40px 36px;
	}
	.logo{
		display: flex;
		height: 24px;
		justify-content: center;
	}
	.logo{
		display: flex;
		height: 24px;
		justify-content: center;
	}
	.name{
		text-align: center;
	}
	.line{
		padding:5px;
		border-bottom: 1px solid;
		border-top: 1px solid;
	}