@charset "EUC-KR";

#kingDiv {
	width: 100vh;
	margin-left: auto;
	margin-right: auto;
}
#writeDiv {
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	padding-left: 10px;
	width: 90vh;
	box-shadow: 1px 1px 3px 1px #dadce0 inset;
}
#h3Id {
	margin-top: 5px;
	margin-bottom: 5px;
}
#emailId {
	width: 40vh;
	box-shadow: 1px 1px 3px 1px #dadce0 inset;
}
#titleId {
	width: 74.5vh;
	box-shadow: 1px 1px 3px 1px #dadce0 inset;
}
#nameId{
	box-shadow: 1px 1px 3px 1px #dadce0 inset;
}
table{
	border-collapse: collapse;
}
.centerCl {
	text-align: center;
	width: 15vh;
	color: #A9D0F5;
}
#buttonId {
	margin-top: 30px;
	text-align: center;
}
.borderCl {
	border-top: 1px solid #E6E6E6;
}
.secondCl {
	margin-left: auto;
	margin-right: auto;
}
#areaId {
	display: block;
	width: 90vh;
	height: 30vh;
	margin-top: 15px;
	overflow-y: scroll;
	resize: none; 
	box-shadow: 1px 1px 3px 1px #dadce0 inset;
}
#inputWId {
	font-weight: bold;
}
#inputLId {
	font-weight: bold;
	color: #A4A4A4;
}
#viewinputId {
	width: 50px;
}
#comtitleId{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 92%;
	font-size: 15px;
	font-weight: bold;
}
#commentId{
	border: 1px solid silver;
	font-size: 15px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 92%;
}
#ptagId {
	margin-bottom: 0px;
}
#firstTrId {
	font-weight: bold;
}
#commentWId {
	border: 1px solid #b7b7b7;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 32px;
	margin-right: auto;
	width: 92%;
}
#tlqkfId {
	background-color: transparent;
	color: #b7b7b7;
	border: 0px;
	display:inline-block;
	position:absolute;
	top:460px;
	right: 530px;
}